<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= @hash[:name] %></h1>
    <p>Coach: <%= @hash[:coach] %></p>
    <p>Point Guard: <%= @hash[:pg] %></p>
    <p>Shooting Guard: <%= @hash[:sg] %></p>
    <p>Small Forward: <%= @hash[:sf] %></p>
    <p>Power Forward: <%= @hash[:pf] %></p>
    <p>Center: <%= @hash[:c] %></p>


 </body>
</html>


